body{
    font-family: Arial, Helvetica, sans-serif;
    background-color : black;
    margin-left: 50px;
}

.gray-btn{
    background-color: rgb(51, 51, 51);
    color: white;
}
.calculator-text{
    color: white;
    margin-left: 57px;
    text-decoration: underline;
}

.calculator-button{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    font-size: 26px;
    cursor: pointer;
    margin-right: 5px;
}

.clear-btn{
    font-size: 17px;
}

.calculation{
    border: 2px solid rgb(255, 107, 44);
    height: 70px;
    width: 265px;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    overflow-x: scroll;
    box-shadow: 0px 0px 4px 3px rgb(255, 107, 44);
}
.orange-btn{
    background-color:rgb(255, 107, 44);
}

.full-calculator{
    border: 5px groove white;
    padding: 20px;
    float: left;
    margin-top: 20px;
}